@import '~core/variables';

app-home
  .slide1
    background-color $paleGrey
    color: $black;
  .fade
    transition: opacity .5s ease-in-out
    opacity 0
  .fade-in
    opacity 1
.home-article
  background-size contain
  padding-bottom 50%
  background-size cover
  background-repeat no-repeat
  position relative
  color white
  cursor pointer
  @media $mediaXS
    padding-bottom 100%
  .material-icons
    bottom 0
    right 0
    position absolute
    font-size 34px
.home-article-1
  background-image url('../../assets/images/section-home-2.png');
  background-color $red
  background-position 50% 70px
.home-article-2
  background-image url('../../assets/images/section-home-3.png');
  background-color $darkGrey
  background-position 50% 120px
.home-article-3
  background-image url('../../assets/images/section-home-1.png');
  background-color #03A9F4
  background-position 50% 120px
  padding-bottom: 35%;
  background-size contain
