@import 'variables';
html
  overflow: hidden;
  overflow-y: scroll;
html, body
  min-height 100%
body
  background-color: $bodyBg
  font-family $fontFamilyBase
  font-size $fontSize14
h1, h2, h3
  font-weight 300
