.slick-track
  max-height: 640px;
  top: -60px;

.slick-prev, .slick-next
  position: absolute;
  z-index: 3;
  bottom: 25px;
  background-color: transparent;
  border 0
  &:focus
    outline 0
.slick-prev
  left: 10px;
.slick-next
  right 10px
.slick-track
  height: 50vw;
.slick-dots
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  li
    pointer-events: none
    &.slick-active
      button
        background-color: black;
    button
      pointer-events: all
      border-radius: 10px;
      background: transparent;
      color: transparent;
      border: 2px solid black;
      transition: background-color .5 ease-in-out
      width: 7px;
      height: 7px;
      padding: 4px;
      margin: 0 5px;
      &:focus
        outline 0
