@import 'variables';

.absolute
  position: absolute

.relative
  position: relative
  overflow hidden

.fade-view
  display block
  &.ng-enter, &.ng-leave-active, &.ng-leave
    opacity 0
    transition opacity .5s ease-in-out
  &.ng-enter-active
    opacity: 1

.hoverable
  filter: brightness(100%)
  transition: -webkit-filter .5s ease-out,filter .5s ease-out
  &:hover
    z-index: 2;
    -webkit-filter: brightness(110%);
  &:focus
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2),0 10px 10px 0 rgba(0,0,0,.24);
    outline 0

.text-center
  text-align center

.link
  font-size: $fontSize14;
  font-weight 500
  text-transform uppercase
  text-decoration none
  display block
  margin-top 17px
  &.link-dark
    color $black
    &:hover
      color: black;
      transition: color .1s ease-in;
  &.link-black
    color black
    &:hover
      color: black;
      transition: color .1s ease-in;
  &.link-white
    color white
    &:hover
      color: $lightGrey;
      transition: color .1s ease-in;
