// TYPOGRAPHY
//------------
$fontFamilyBase = 'Roboto Mono', Roboto, sans-serif

// NEW
$fontSize8     = 8px
$fontSize10    = 10px
$fontSize12    = 12px
$fontSize11    = 11px
$fontSize14    = 14px
$fontSize15    = 15px
$fontSize16    = 16px
$fontSize18    = 18px
$fontSize19    = 19px
$fontSize20    = 20px
$fontSize22    = 22px
$fontSize24    = 24px
$fontSize25    = 25px
$fontSize30    = 30px
$fontSize32    = 32px

$lineHeight    = 1.5
//------------


// BASE COLORS
//------------
$red           = #f44336
$black         = #666
$blue          = #2196f3
$lightBlue     = #03a9f4
$darkBlue      = #3f51b5
$darkGreen     = #00bcd4
$lightGreen    = #8bc34a
$green         = #4caf50
$yellow        = #cddc39
$darkYellow    = #ffc107
$orange        = #ff9800
$darkGrey      = #607d8b
$grey          = #ccc
$paleGrey      = #f6f6f6
$green         = #7ab800
//------------


// MEDIA QUERIES
//------------
/* Custom, iPhone Retina */
$mediaXS = "(max-width : 600px)"
$mediaGTXS = "(min-width : 600px)"
$mediaSM = "(min-width: 600px) and (max-width : 959px)"
$mediaGTSM = "(min-width: 960px)"
$mediaMD = "(min-width: 960px) and (max-width : 1279px)"
$mediaGTMD = "(min-width: 1280px)"
$mediaLG = "(min-width: 1280px) and (max-width : 1919px)"
$mediaGTLG = "(min-width: 1920px)"

// BODY
//------------
$bodyColor = $black
$bodyBg    = $paleGrey
//------------


// LINKS
//------------
$linkColor      = $lightGrey
$linkHoverColor = $green
//------------


// BOX SHADOW
//------------
$boxShadow     = 0px 3px 4px rgba(0,0,0,0.1)
$boxShadowDark = 0px 3px 4px rgba(0,0,0,0.35)
//------------


// BORDER RADIUS
//------------
$borderRadius       = 6px
$borderRadiusCircle = 50%
//------------


// BORDER STYLE
//------------
$borderStyleSolid  = solid
$borderWidth1      = 1px
$borderWidth2      = 2px
$borderWidth3      = 3px
//------------
