<div data-layout-padding class="contact-form">
  <header>
    <h1>Contacta con nosotros</h1>
  </header>
  <address>
    <span><b>Dirección:</b> Av. Valladolid 33, 28971, Soto del Real, Madrid</span>
    <span><b>Teléfono:</b> <a href="tel:636648939">636 648 939</a></span>
    <span><b>Email:</b> <a href="mailto:info@mimetix.com">info@mimetix.com</a></span>
  </address>
  <form name="contactForm" data-ng-submit="$ctrl.sendEmail()" novalidate>
    <md-input-container class="md-block">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" data-ng-model="$ctrl.contactForm.email">
      <div data-ng-messages="contactForm.email.$error">
        <div data-ng-message="pattern">Eso que has escrito no es un email.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label for="message">Mensaje</label>
      <textarea id="message"
                name="message"
                data-ng-model="$ctrl.contactForm.message"
                data-md-maxlength="150"
                rows="3"
                data-md-select-on-focus
                required>
      </textarea>
      <div data-ng-messages="contactForm.message.$error">
        <div data-ng-message="required">Cuéntanos algo que no sepamos.</div>
      </div>
    </md-input-container>
    <div data-layout="row" data-layout-fill data-layout-align="end end">
      <md-button type="submit" class="md-raised">Enviar</md-button>
    </div>
  </form>
</div>
