<div class="slick-slider fade relative" layout="row" layout-align="center center" ng-class="{'fade-in': $ctrl.fade1}" slides-to-show=1 slides-to-scroll=1 ng-cloak>
  <div>
    <section class="slide-home slide-home-1" layout="row" layout-align="center center">
      <div layout="row" layout-xs="column" layout-md="row" layout-align="center center">
        <div flex layout="row" layout-align="center center" layout-padding class="icon-container">
          <i class="material-icons slide-icons slide-icon-1">palette</i>
        </div>
        <div flex layout="column" layout-align="center start" layout-padding class="text-container">
          <h1>Más allá del diseño</h1>
          <span>Comprendemos su negocio para tomar mejores decisiones.</span>
          <a href="" class="link link-dark">Vea nuestros trabajos</a>
        </div>
      </div>
    </section>
  </div>
  <div>
    <section class="slide-home slide-home-2" class="slide-home slide-home-1" layout="row" layout-align="center center">
      <div layout="row" layout-xs="column" layout-md="row" layout-align="center center">
        <div flex layout="row" layout-align="center center" layout-padding class="icon-container">
          <i class="material-icons slide-icons slide-icon-2">search</i>
        </div>
        <div flex layout="column" layout-align="center start" layout-padding class="text-container">
          <h1>Posicionamiento en buscadores</h1>
          <span>Sabemos situar su web en lo más alto de los buscadores.</span>
          <a href="" class="link link-black">Vea cómo funcionamos</a>
        </div>
      </div>
    </section>
  </div>
  <div>
    <section class="slide-home slide-home-3" class="slide-home slide-home-1" layout="row" layout-align="center center">
      <div layout="row" layout-xs="column" layout-md="row" layout-align="center center">
        <div flex layout="row" layout-align="center center" layout-padding class="icon-container">
          <i class="material-icons slide-icons slide-icon-3">computer</i>
        </div>
        <div flex layout="column" layout-align="center start" layout-padding class="text-container">
          <h1>Hosting</h1>
          <span>Optimizamos el despliegue de su aplicación, porque la velocidad importa.</span>
          <a href="" class="link link-white">Consulte nuestros planes</a>
        </div>
      </div>
    </section>
  </div>
</div>
