@import '~core/variables';

.slick-track
  top 0
  @media $mediaXS
    height 90vh
.slide-home
  height 50vw
  max-height 640px
  @media $mediaXS
    height 90vh
    text-align center
  h1
    margin-top 0
  .icon-container
    @media $mediaXS
      max-height 40%
  .text-container
    @media $mediaXS
      justify-content flex-start
.slide-home-1
  background-color $paleGrey
.slide-home-2
  background-color $darkYellow
.slide-home-3
  background-color $lightBlue
  color white
.slide-icons
  font-size: 150px;
  padding: 40px;
  border-radius: 50%;
  @media $mediaXS
    padding 20px
    font-size 110px
.slide-icon-1
  background-color: black;
  color: white;
.slide-icon-2
  background-color: #F44336;
  color: black;
.slide-icon-3
  background-color: #3f51b5;
  color: white;
