<div class="slick-slider fade relative" data-layout="row" data-layout-align="center center" data-ng-class="{'fade-in': $ctrl.fade1}" slides-to-show=1 slides-to-scroll=1 data-ng-cloak>
  <div>
    <section class="slide-home slide-home-1" data-layout="row" data-layout-align="center center">
      <div data-layout="row" data-layout-xs="column" data-layout-md="row" data-layout-align="center center">
        <div data-flex data-layout="row" data-layout-align="center center" data-layout-padding class="icon-container">
          <img src="/logos/mimetix.png" alt="">
        </div>
        <div data-flex data-layout="column" data-layout-align="center start" data-layout-padding class="text-container" data-layout-align-xs="space-between center">
          <h1>Más allá del diseño web</h1>
          <span>No te ofrecemos una web, hacemos <b>tus fantasías</b> realidad.</span>
        </div>
      </div>
    </section>
  </div>
  <div>
    <section class="slide-home slide-home-2" class="slide-home slide-home-1" data-layout="row" data-layout-align="center center">
      <div data-layout="row" data-layout-xs="column" data-layout-md="row" data-layout-align="center center">
        <div data-flex data-layout="row" data-layout-align="center center" data-layout-padding class="icon-container">
          <i class="material-icons slide-icons slide-icon-2">search</i>
        </div>
        <div data-flex data-layout="column" data-layout-align="center start" data-layout-padding class="text-container" data-layout-align-xs="space-between center">
          <h1>Si no te encuentran, no existes</h1>
          <span>Te ayudamos a <strong>posicionar tu web</strong> en lo más alto de los buscadores</span>
        </div>
      </div>
    </section>
  </div>
  <div>
    <section class="slide-home slide-home-3" class="slide-home slide-home-1" data-layout="row" data-layout-align="center center">
      <div data-layout="row" data-layout-xs="column" data-layout-md="row" data-layout-align="center center">
        <div data-flex data-layout="row" data-layout-align="center center" data-layout-padding class="icon-container">
          <i class="material-icons slide-icons slide-icon-3">computer</i>
        </div>
        <div data-flex data-layout="column" data-layout-align="center start" data-layout-padding class="text-container" data-layout-align-xs="space-between center">
          <h1>Hosting</h1>
          <span>Optimizamos el despliegue de tu aplicación, porque la velocidad y la seguridad importan.</span>
        </div>
      </div>
    </section>
  </div>
</div>
